#interface {
  background-color: #E4E4E4;
  padding: 2px;
  width: 650px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  //background: url(./source/images/default-button-sprite.png) no-repeat;
}

  #video-container {
    width: 100%;
    height: 360px;
  }

    #video {
      background-color: #E4E4E4;
      width: 100%;
      height: 100%;
    }

  #progressbar-container {
    height: 10px;
    background-color: #BBBBBB;
  }

    #progressbar-element {
      height: 100%;
      width: 0%;
      background-color: #0094FF;
    }

  #controls-container {
    height: 25px;
  }

    #controls-container > * {
      display: inline-block;
      vertical-align: middle;
    }

    #button-play, #button-mute, #button-fullscreen {
      width: 25px;
      height: 25px;
    }

    #time-done {
      font-family: "Sans", sans;
      font-size: 14px;
      color: #BBBBBB
    }

    #volume-container {
      width: 100px;
      height: 8px;
      background-color: #BBBBBB;
    }

      #volume-element {
        width: 50%;
        height: 100%;
        background-color: #0094FF;
      }
