#interface {
  margin: 0 auto;
  max-width: 900px;
  min-width: 260px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  box-shadow: 0 0 2px 0 rgba(100, 100, 100, 0.2), 0 1px 20px 0 rgba(120, 120, 120, 0.19);
}

#mute-indicator {
  background-color: #EEEEEE;
  position: absolute;
  margin: 8px;
  padding: 5px 7px;
  border-radius: 2px;
  font-size: 14px;
  color: #BBBBBB;
  opacity: 0;
  cursor: default;
  font-family: "Play", "Sans", sans;
}

#interface:hover #controls-container {
  opacity: 1;
  transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

#interface:hover #volume-container {
  opacity: 1;
  transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

#interface:hover #progressbar-container {
  height: 11px;
  transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
}

#video-container {
  width: 100%;
  height: 100%;
}

#video {
  background-color: #C7C7C7;
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {display:none !important;}
video::-webkit-media-controls-enclosure {display:none !important;}
video::-moz-media-controls {display:none !important;}
video::-moz-media-controls-enclosure {display:none !important;}
video::-ms-media-controls {display:none !important;}
video::-ms-media-controls-enclosure {display:none !important;}

#progressbar-container {
  margin-top: -1px;
  height: 4px;
  background-color: #C7C7C7;
  transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
}

#progressbar-element {
  height: 100%;
  width: 0%;
  background-color: #0094FF;
}

#controls-container {
  background-color: #EEEEEE;
  margin: -29px 0 0 0;
  cursor: default;
  opacity: 0;
  transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
  width: 100%;
  position: relative;
}

#controls-container > * {
  display: inline-block;
  vertical-align: middle;
}

#button-play {
  width: 25px;
  height: 25px;
  background: url("../images/button-play.png");
  background-color: #C7C7C7;
  margin-left: 4px;
}

#button-mute {
  width: 25px;
  height: 25px;
  background: url("../images/button-mute.png");
  background-color: #C7C7C7;
  margin-left: 5px;
}

#button-fullscreen {
  width: 25px;
  height: 25px;
  background: url("../images/button-fullscreen.png");
  background-color: #C7C7C7;
  margin-right: 4px;
  float: right;
}

#time-done {
  margin: 0;
  background-color: #EEEEEE;
  font-family: "Play", sans-serif;
  font-size: 14px;
  color: #BBBBBB;
  margin-left: 5px;
}

#volume-container {
  width: 100px;
  height: 8px;
  position: absolute;
  margin: -16px 0 0 120px;
  background-color: #C7C7C7;
  opacity: 0;
  transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

#volume-element {
  width: 50%;
  height: 100%;
  background-color: #0094FF;
}
